<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Welcome App</title>
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links :: link" />
    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts :: script"></script>
</head>

<body>
    <div class="uk-container">
        <h1>Ville de [[ ${city.name} ]]</h1>
            <table class="uk-table uk-table-hover">
                <tr>
                    <th>Nom</th>
                    <td>[[ ${city.name} ]]</td>
                </tr>
                <tr>
                    <th>Identifiant</th>
                    <td>[[ ${city.qid} ]]</td>
                </tr>
                <tr>
                    <th>Latitude</th>
                    <td>[[ ${city.latitude} ]]</td>
                </tr>
                <tr>
                    <th>Longitude</th>
                    <td>[[ ${city.longitude} ]]</td>
                </tr>
                <tr>
                    <th>Page web</th>
                    <td>[[ ${city.url} ]]</td>
                </tr>
            </table>
            <p><a class="uk-button uk-button-primary uk-align-right" th:href="@{${city.qid}}" type="text/ttl">Télécharger
                .ttl</a></p>
        <table class="uk-table uk-table-striped">
            <tr>
                <th>Les organisations éducatives</th>
                <th>Longitude</th>
                <th>Latitude</th>
            </tr>
            <tr th:each="school : ${schools}">
                <td>
                    <span uk-icon="location"></span>
                    <a th:href="@{${school.url}}">[[ ${school.name} ]]</a>
                </td>
                <td>[[ ${school.longitude} ]]</td>
                <td>[[ ${school.latitude} ]]</td>
            </tr>
            <tr th:if="${#lists.isEmpty(schools)}">
                <td colspan="3">Aucune information disponible</td>
            </tr>
        </table>
    </div>
</body>

</html>