<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Welcome App</title>
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links :: link" />

    <style>
        #maCarte {
            height: 400px;
        }

        #city {
            margin-top: 3px;
        }

        html {
            background: url(/img/bg3.jpg) no-repeat center center fixed;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
        }
    </style>

    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scriptsmap :: script"></script>
</head>

<body>
    <div class="uk-container">
        <div class="uk-alert-primary" uk-alert>
            <a class="uk-alert-close" uk-close></a>
            <p class="uk-text-large uk-text-center">Explorez quelques endroits clés (écoles, arrêts de transport, etc.) et les prévisions météo en temps réel de la ville de [[ ${city.name} ]]
                sur la carte
            </p>
        </div>

        <div id="maCarte">

        </div>
        
        <button style= "margin-top: 3px" class="uk-button uk-button-primary uk-button-small" uk-tooltip="Cliqez ici pour choisir une ville" onclick="window.location.href = 'http://localhost:8080/home'">
            Choisir une autre ville
        </button>
       
        <h1 id ="city" class="uk-text-right uk-text-warning uk-text-bold uk-text-uppercase">Ville de [[ ${city.name} ]]</h1>
        <ul uk-accordion="collapsible: true" class="uk-card uk-card-default">
            <li style="padding: 20px; margin-bottom: 30px;" class=".uk-background-muted">
                <a class="uk-accordion-title" href="#">Afficher détails sur [[ ${city.name} ]]</a>
                <div class="uk-accordion-content">
                    <table class="uk-table uk-table-hover">
                        <tr>
                            <th>Nom</th>
                            <td>[[ ${city.name} ]]</td>
                        </tr>
                        <tr>
                            <th>Identifiant</th>
                            <td>[[ ${city.qid} ]]</td>
                        </tr>
                        <tr>
                            <th>Latitude</th>
                            <td>[[ ${city.latitude} ]]</td>
                        </tr>
                        <tr>
                            <th>Longitude</th>
                            <td>[[ ${city.longitude} ]]</td>
                        </tr>
                        <tr>
                            <th>Page web</th>
                            <td>[[ ${city.url} ]]</td>
                        </tr>
                    </table>
                    <p><button class="uk-button uk-button-primary uk-align-right" th:data-uri="${city.qid}"
                            id="machine-simulator"><span uk-icon="icon: download; ratio: 1.5"></span><br />Simulate
                            content
                            negotiation to get .ttl</button>
                    </p>
                </div>
            </li>
        </ul>

        <ul uk-accordion="collapsible: true" class="uk-card uk-card-default">
            <li style="padding: 20px; margin-bottom: 30px;">
                <a class="uk-accordion-title" href="#">Afficher la liste des organisations éducatives</a>
                <div class="uk-accordion-content">
                    <table class="uk-table uk-table-hover uk-table-divider">
                        <tr>
                            <th>Les organisations éducatives</th>
                            <th>Longitude</th>
                            <th>Latitude</th>
                        </tr>
                        <tr th:each="school : ${schools}">
                            <td>
                                <span uk-icon="location"></span>
                                <a th:href="@{${school.url}}">[[ ${school.name} ]]</a>
                            </td>
                            <td>[[ ${school.longitude} ]]</td>
                            <td>[[ ${school.latitude} ]]</td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(schools)}">
                            <td colspan="3">Aucune information disponible</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>


        <ul uk-accordion="collapsible: true" class="uk-card uk-card-default">
            <li style="padding: 20px; margin-bottom: 30px;">
                <a class="uk-accordion-title" href="#">Afficher la liste des arrêts aux alentours des écoles</a>
                <div class="uk-accordion-content">
                    <table class="uk-table uk-table-hover uk-table-divider">
                        <tr>
                            <th>Les arrêts qui se trouvent à une distance max de 500 m d'une organisation éducative</th>
                            <th>Organisation éducative</th>
                            <th>Distance</th>
                        </tr>
                        <tr th:each="stop : ${stopsAround}">
                            <td>
                                <span uk-icon="location"></span>
                                <span>[[ ${stop.name} ]]</span>
                            </td>
                            <td>[[ ${stop.refSchool} ]]</td>
                            <td>[[ ${#numbers.formatDecimal(stop.distanceMinFromSchool, 0, 'COMMA', 2, 'POINT') }]] m
                            </td>
                        </tr>
                        <tr th:if="${#lists.isEmpty(stopsAround)}">
                            <td colspan="3">Aucune information disponible</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>

        <ul uk-accordion="collapsible: true" class="uk-card uk-card-default">
            <li style="padding: 20px; margin-bottom: 30px;">
                <a class="uk-accordion-title" href="#">Affichage des données de prévision météo en temps réel de la ville de [[ ${city.name} ]] </a>
                <div class="uk-accordion-content">
                    <table class="uk-table uk-table-hover uk-table-divider">
                        <tr>
                            <th>&nbsp;</th>
                            <th>Date</th>
                            <th>Température MIN</th>
                            <th>Température MAX</th>
                            <th>Probabilité de briuillard</th>
                            <th>Probabilité de pluie</th>
                            <th>Probabilité de vent > 100 Km/h </th>
                        </tr>
                        <tr >
                            <td>Jour 0</td>
                            <td>20/05/16</td>
                            <td>9</td>
                            <td>60</td>
                            <td>50</td>
                            <td>40</td>
                            <td>30</td>
                        </tr>
                        <tr >
                            <td>Jour 1</td>
                            <td>20/09/10</td>
                            <td>7</td>
                            <td>65</td>
                            <td>45</td>
                            <td>67</td>
                            <td>40</td>
                        </tr>
                    </table>
                </div>
            </li>
        </ul>




        <!-- ********  CONTENUS RDF SOUS FORMAT JSON-LD *************  -->
        <script th:utext="#{jsonLD}" type="application/ld+json">
        </script>


        <script th:inline="javascript">
            /*<![CDATA[*/
            var city = /*[[${city}]]*/ "Test1";
            var schools = /*[[${schools}]]*/ "Test2";
            var stopsAround = /*[[${stopsAround}]]*/ "Test3";

            console.log(stopsAround)
            console.log(schools)
      
            /* Initialisation de la carte */
            var carte = L.map('maCarte').setView([city.latitude, city.longitude], 13);
            /* pour le reglage du zoom automatique*/
            var tabMarqueurs = []

            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                minZoom: 4,
                maxZoom: 16
            }).addTo(carte);

            /* Pour grouper les marqueurs qui sont proches */
            var marqueursClusters = L.markerClusterGroup();

            /* customization des icones de marqueurs*/
            var iconArret = L.icon({
                iconUrl: "https://static.thenounproject.com/png/368019-200.png?fbclid=IwAR1rAfuEV_ZHecbrR6_ZqCbcpdeSQ09tb2u6MJTJlhVhHBhwGzm-U57PizU",
                iconSize: [50, 50],
                iconAnchor: [25, 50],
                popupAnchor: [0, -50],
            });

            var iconSchool = L.icon({
                iconUrl: "https://img.icons8.com/wired/64/000000/school.png",
                iconSize: [50, 50],
                iconAnchor: [25, 50],
                popupAnchor: [0, -50],
            });

            /*Ajout du marqueur sur la ville courant*/
            var marqueurVille = L.marker([city.latitude, city.longitude]);
            marqueurVille.bindPopup("<p>" + city.name + "</p>")
            marqueursClusters.addLayer(marqueurVille)

            /*Ajout des marqueurs des écoles*/
            //(city.latitude + 2 > schools[school].latitude) && (city.longitude + 2 > schools[school].longitude)
            for (school in schools) {
                if(( Math.abs(city.latitude - schools[school].latitude) < 1 && Math.abs(city.longitude  - schools[school].longitude) < 1 )){
                    var marqueurSchool = L.marker([schools[school].latitude, schools[school].longitude], { icon: iconSchool });
                    marqueurSchool.bindPopup("<div classe='uk-button uk-button-default' uk-tooltip='Cliquez sur ce lien pour découvrir les écoles et arrêts les plus proches'><a href=" + schools[school].url + ">" + schools[school].name + "</a></div>")
                    marqueursClusters.addLayer(marqueurSchool)
                }
                else{
                    console.log("nom: "+schools[school].name,",  lat :"+schools[school].latitude,",  long: "+schools[school].longitude)
                } 
            };

            /*Ajout des marqueurs des arrêts de transport*/
            for (stop in stopsAround) {
                var marqueurArret = L.marker([stopsAround[stop].longitude, stopsAround[stop].latitude], { icon: iconArret });
                marqueurArret.bindPopup("<p>" + stopsAround[stop].name + "</p>")
                marqueursClusters.addLayer(marqueurArret) 
            };

            carte.addLayer(marqueursClusters)

            /*]]>*/

            /*************************************** Données météo ***********************************/

            async function getMeteoData () {
                /*url api Meteo concept*/
                var url='https://api.meteo-concept.com/api/forecast/daily?token=c5b5532f0185cc4e8fe04f1abf6899961a3ed50f8c850377adaa298310aa6008&latlng='+city.latitude+','+city.longitude
                var weatherData = {}
                var prevision = []

                /*Fetch sur l'api pour recupérer les données*/
                const meteo = await fetch(url)
                .then(resultat => resultat.json())
                .then(json => json)
                
                /*Filtrage des données de prévision pour recupérer celles qui nous intéressent*/
                meteo.forecast.forEach((element, index, array) => {
                    prevision.push({
                       datetime: element.datetime, 
                        jour : element.day, 
                        tmin: element.tmin,
                        tmax: element.tmax,
                        probaGel : element.probafrost,
                        probaBrouillard : element.probafog,
                        probaVentSup100 : element.probawind100,
                        probaPluie : element.probarain 
                    })
                });

                /* Données filtrées */
                weatherData = {
                    city : {
                        name : meteo.city.name,
                        latitude : meteo.city.latitude,
                        longitude : meteo.city.longitude,
                        updated : meteo.update
                    },
                    prevision : prevision 
                }

                console.log(weatherData)

                /*Post pour envoyer les données au serveur*/
                const options = {
                    method : 'POST',
                    headers : {
                        'Content-type' : 'application-json'
                    },
                    body : JSON.stringify(weatherData)
                }

                await fetch('meteo/Q42168', options)
                .then(res=>res.json())
                .then(res => console.log(res));

            }



            //getMeteoData ()

        </script>

        <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts :: script"></script>

    </div>
</body>

</html>