<script src="/lib/uikit-3.5.10/js/uikit.min.js"></script>
<script src="/lib/uikit-3.5.10/js/uikit-icons.min.js"></script>

<!-- SIMULATE MACHINE REQUEST TO GET RDF DESCRIPTION OF A RESOURCE AS TURTLE FROMAT -->
<script>
    function getResource(uri) {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', uri, true);
        xhr.setRequestHeader("Content-Type", "text/turtle");
        xhr.send();
        xhr.onload = function (e) {
            if (this.status == 200) {
                // Create a new Blob object using the response data of the onload object
                var blob = new Blob([this.response], { type: 'text/turtle' });
                //Create a link element, hide it, direct it towards the blob, and then 'click' it programatically
                let a = document.createElement("a");
                a.style = "display: none";
                document.body.appendChild(a);
                //Create a DOMString representing the blob and point the link element towards it
                let url = window.URL.createObjectURL(blob);
                a.href = url;
                a.download = uri.split('/')[2] + '.ttl';
                //programatically click the link to trigger the download
                a.click();
                //release the reference to the file by revoking the Object URL
                window.URL.revokeObjectURL(url);
            } else {
                //deal with your error state here
            }
        };
    }

    const machine_simulator = document.getElementById("machine-simulator");
    if (machine_simulator !== null) {
        machine_simulator.addEventListener("click", (e) => {
            const uri = e.currentTarget.dataset.uri;
            console.log(uri);
            url = uri.split("8080")[1]; // delete server host (http://localhost:8080)
            getResource(url);
        }, true);
    }
</script>