<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Welcome App</title>
    <!-- INCLUDE SHARED LINKS  -->
    <link th:replace="links :: link" />
</head>

<body>
    <div class="uk-container">
        <h1>Arrêt [[ ${stop.name} ]]</h1>
        <table class="uk-table uk-table-hover">
            <tr>
                <th>Nom</th>
                <td>[[ ${stop.name} ]]</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>[[ ${stop.id} ]]</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>[[ ${stop.latitude} ]]</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>[[ ${stop.longitude} ]]</td>
            </tr>
        </table>
        <p><button class="uk-button uk-button-primary uk-align-right" th:data-uri="${stop.qid}"
                id="machine-simulator"><span uk-icon="icon: download; ratio: 1.5"></span><br />Simulate content
                negotiation to get .ttl</button></p>

                <table class="uk-table uk-table-striped">
                    <tr>
                        <th>Les organisations éducatives qui se trouvent à une distance max de 500 m de l'arrêt</th>
                        <th>Distance</th>
                    </tr>
                    <tr th:each="stop : ${schoolsAround}">
                        <td>
                            <span uk-icon="location"></span>
                            <a th:href="@{${school.url}}">[[ ${school.name} ]]</a>
                        </td>
                        <td>[[ ${#numbers.formatDecimal(school.distanceMinFromStop, 0, 'COMMA', 2, 'POINT') }]] m</td>
                    </tr>
                    <tr th:if="${#lists.isEmpty(schoolsAround)}">
                        <td colspan="3">Aucune information disponible</td>
                    </tr>
                </table>

        <table class="uk-table uk-table-striped">
            <tr>
                <th>Les arrêts qui se trouvent à une distance max de 500 m de l'arrêt</th>
                <th>Arrêt</th>
                <th>Distance</th>
            </tr>
            <tr th:each="stop : ${stopsAround}">
                <td>
                    <span uk-icon="location"></span>
                    <a th:href="@{${stop.url}}">[[ ${stop.name} ]]</a>
                </td>
                <td>[[ ${stop.refSchool} ]]</td>
                <td>[[ ${#numbers.formatDecimal(stop.distanceMinFromSchool, 0, 'COMMA', 2, 'POINT') }]] m</td>
            </tr>
            <tr th:if="${#lists.isEmpty(stopsAround)}">
                <td colspan="3">Aucune information disponible</td>
            </tr>
        </table>
    </div>


    <!-- INCLUDE SHARED SCRIPTS  -->
    <script th:replace="scripts :: script"></script>
</body>

</html>